<!DOCTYPE html>
<html>
<head>
<title>Contact form</title>
</head>
<body>

    {% extends "workouts/base.html" %}

    {% block content %}
        {% if message_name %}
            <br><br>
            <p>Thank you {{ message_name }}!</p>
            <p>I received your email and respond as soon as possible.</p>
            <br><br>
            <p><a href="{% url 'workout-list' %}">Back to the workouts?</a></p>
            
        {% else %}
        <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <br> <br> <br>
            </div>

            <input type="text" name="message-name" placeholder="Your Name">
            <br><br>
            <input type="email" name="message-email" placeholder= "Your Email">
            <br><br>
            <textarea rows="10" cols="50" name= "message" placeholder="Your Message"></textarea>
            <br><br>
            <button
            type= "submit">Send message</button>
        </form>
        {% endif %}
    {% endblock %}
