<!DOCTYPE html>
<html>
<head>
<title>Workout diary</title>
</head>
<body>

    {% extends "workouts/base.html" %}

    {% block content %}
        <p>
        <a href="{% url 'contact' %}"> Would you like to leave a message?</a>
        </p>
        <br>
        
        {% for workout in workout_list %}
            <article>
                <h2 class="{{ workout.date_of_workout|date:'l' }}">
                    {{ workout.date_of_workout|date:'d.m.Y H:i' }}
                </h2>
                <h3>
                    <a href="{% url 'workout-detail' workout.id %}">
                        {{ workout.title }}
                    </a>
                </h3>
            </article>
        {% endfor %}            
        </h2>
    {% endblock %}


</body>
</html>

